* {
  margin: 0px;
  padding: 0px;
  
}

.big-image{
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}

#tokyo {
  background-image: url(public/IMAGE\ 3.jpg);
  opacity: .5;
  filter: blur(2px)
}

#logo {
  position: absolute;
  top: 2%;
  padding-top: 20px;
  height: 70%;
  left: 35%;
}

.first-text {
  height: 500px;
  width: 100%;
  background-color: black
}

.paragrafo {
  padding: 50px;
  font: 15px Lato, sans-serif;
  color: #777777;  
  top: 2%;
}

.container-paragrafo, .slider {
  position: relative;
  
}

.clipart {
  position: absolute;
  height: 100px;
  width: auto;
  /* top: 20px; */
  z-index: 1;
  filter: opacity(20%);  
}

#clipart_2 {
  transform: rotate(-45deg);
}

#tokyo-paragraph .paragrafo {
  position: relative;
  z-index: 2;
}

#stadium {
  background-image: url(public/IMAGE\ 3.2.jpg);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 750px;
}

.slider-image {
  height: 100%;
  width: auto;
  background-color: black;
}

#mascotes {
  background-image: url(public/IMAGE\ 4.1.png);
}

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  
}

