#sports_gif {
  width: 100%;
  height: auto;
  display: block;
}

.medalha {
  width: 50px;
  height: auto;
  position: absolute;  
  bottom: 85%;
}

#ouro_img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms; 
  left: 28%;
}

#prata_img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms; 
  left: 32%;
  bottom: 82%;
}

#bronze_img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms; 
  left: 38%;
}

#imagef{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.figurefinal {
  position: relative;
  width: 100%;
}

.imagens {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 0;
  transition:height .5s ease, opacity .5s ease;
  display: flex;
  justify-content: flex-start;
}

.figurefinal:hover .overlay {
  opacity: 100%;
  height: 100%;
}