#sports_gif {
  width: 100%;
  height: auto;
  display: block;
}

.medalha {
  width: 50px;
  height: auto;
  position: absolute;  
  bottom: 85%;
}

#ouro_img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms; 
  left: 28%;
}

#prata_img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms; 
  left: 32%;
  bottom: 82%;
}

#bronze_img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms; 
  left: 38%;
}