.paragrafo {
  padding: 50px;
  font: 15px Lato, sans-serif;
  color: black; 
  margin-top: 0; 
}

h2 { color:black;
  font-family: 'Raleway',sans-serif;
  font-size: 28px; 
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase; }
}
h3{
  font: 24px Lato, sans-serif;
  color: #00008B;
}

#travel > h2 {
  margin-bottom: 30px;
  margin-top: 10px;
}

.container-paragrafo, .slider {
  position: relative;
}

#tokyo-paragraph .paragrafo {
  position: relative;
  z-index: 2;
}

#descricao_mascotes {
  align-self: center;
  width: 30%;
  height: auto;
}

#descricao_mascotes > p {
  font: 15px Lato, sans-serif;
  color: black;  
}

#sports {
  margin-top: 100px;  
}

#list {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center
}

#list > ul {
  list-style: square;
  column-count: 3;  
  column-gap: 100px;
}

#list > ul > li > span {
  font: 15px Lato, sans-serif;
  color: black; 
}

.title {
  text-align: center
}

#premiacao {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#premiacao > p {
  padding-bottom: 20px;
  padding-top: 0;
}

#ouro {
  color: #d4af37;
}

#premiacao > .paragrafo > span:hover {
  cursor: pointer;
}

#ouro:hover > #ouro_img {
  visibility: visible;
  opacity: 100;
}

#prata:hover > #prata_img {
  visibility: visible;
  opacity: 100%;
}

#bronze:hover > #bronze_img {
  visibility: visible;
  opacity: 100%;
}

#prata {
  color: #aaa9ad;
}

#bronze {
  color: #cd7f32;
}

#topics_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.topic {
  display: inline-block;
  width: 300px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.topic > ul {
  margin-left: 20px;
  margin-top: 20px;
}

.topic > ul > li > span > span {
  font-weight: bold;
}

.topic {
  transition: transform 300ms;
  font: 15px Lato, sans-serif;
  color: black; 
}

.topic > h3 {
  margin-bottom: 10px;
  text-align: center;
}

.topic:nth-child(even){
  align-self: flex-end;
}

.topic:nth-child(5){
  margin-bottom: 30px;
}

.topic:hover {
  transform: scale(1.1);
}