/* Tooltip */
.tooltip {
  position: absolute;
  width: 300px;
  height: auto;
  background-color: lightgray;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 500ms;
  z-index: 3;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.tooltip > p {
  padding: 10px;
  font: 15px Lato, sans-serif;
  color: #777777;  
  top: 2%;
} 

.mascote_container:hover .tooltip {
  visibility: visible;
  opacity: 1;

}

.tooltip > p::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  bottom: 20px;
  transform: rotate(45deg);
  z-index: -1;
}

#tooltip_1 > p::before{
  left: 0px;
}

#tooltip_2 > p::before {
  right: 0;
}

#tooltip_1 {
  left: 600px;
  top: 0px;
}

#tooltip_2 {
 right: 300px;
}

.mascote_container {
  position: relative;
}


/* Efeito no hover */
figure {
  position: relative;
}

figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  display: none;
  content: '';
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

figure:hover .tooltip {
  visibility: visible;
  opacity: 1;  
  transform: translateX(-50%) translateY(0px);
}

figure:hover::before {
  display: block;
  -webkit-animation: shine .45s;
  animation: shine .75%;
  pointer-events: none;
  z-index: 2;
}

#figure_mascote_2::before{
  left: 75%;
  -webkit-transform: skewX(25deg);
	transform: skewX(25deg);
}

#figure_mascote_2:hover::before {
  display: block;
  -webkit-animation: shine_2 .45s;
  animation: shine_2 .75%;
  pointer-events: none;
}

@-webkit-keyframes shine_2 {
	100% {
    left: -50%;
	}
}

@keyframes shine_2 {
	100% {
    left: -50%;
	}
}

@-webkit-keyframes shine {
	100% {
    left: 50%;
	}
}

@keyframes shine {
	100% {
    left: 50%;
	}
}

/* Efeito de Zoom */

.mascote {
  transition: transform .2s;
}

figure:hover .mascote {
  transform: scale(1.05);  
}